h1 {
    color: white;
    background-color: black;
    text-align: center;
}
h2{
    color:white;
    text-align: center;
    
}

body{
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
}


.frame{
    width: 500px;
    height: 400px;
    border: 3px solid black;
    background: black;
    margin: auto;
    padding: 15px 5px;
}

#logo{
    width: 550px;
    height: auto;

}

.frame2{
    width: 50px;
    height: 40px;
    border: 3px solid black;
    background: black;
    margin: auto;
    padding: 15px 5px;
    float:left
}


#burger{
    width: auto;
    height: 250px;
}


.frame3{
    width: 316px;
    height: 250px;
    border: 3px solid black;
    background: black;
    margin: auto;
    padding: 15px 5px;
    float: right;
    
}

.frame4{
    width: 316px;
    height: 250px;
    border: 3px solid black;
    background: black;
    margin: auto;
    padding: 15px 5px;
    
    
}

#pic2{
    width:300px;
    height:150px;
}

.pic{
    width:300px;
    height: auto
    ;
}


















#hplogo{
   
}