*{
    box-sizing: border-box;
}


h1 {
    color: white;
    background-color: black;
    text-align: center;
}
h2{
    color:white;
    text-align: center;
    
}

#logo{
    text-align: center;
    margin: 50px;
}

body{
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
}

.center{
    text-align: center;
}

.list {
    display: inline-block;
    background-color: #3E5151;
    border: 3px solid black;
    padding: 50px;
    width: 33%; /* Set the width to 100% to make it span the entire available width */
    text-align: center; /* Center-align the anchor elements within .list */
}

.pic {
    height: 150px;
    width: auto; /* Allow the width to adjust based on the image's aspect ratio */
    margin: 0 10px; /* Add a margin to create space between the images */
}

